# Server

server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*
server/.pnpm-debug.log*
server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
server/pids
server/*.pid
server/*.seed
server/*.pid.lock
server/lib-cov
server/coverage
server/*.lcov
server/.nyc_output
server/.grunt
server/bower_components
server/.lock-wscript
server/build/Release
server/node_modules/
server/jspm_packages/
server/web_modules/
server/*.tsbuildinfo
server/.npm
server/.eslintcache
server/.stylelintcache
server/.rpt2_cache/
server/.rts2_cache_cjs/
server/.rts2_cache_es/
server/.rts2_cache_umd/
server/.node_repl_history
server/*.tgz
server/.yarn-integrity
server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local
server/.cache
server/.parcel-cache
server/.next
server/out
server/.nuxt
server/dist
server/.cache/
server/.vuepress/dist
server/.temp
server/.cache
server/.docusaurus
server/.serverless/
server/.fusebox/
server/.dynamodb/
server/.tern-port
server/.vscode-test
server/.yarn/cache
server/.yarn/unplugged
server/.yarn/build-state.yml
server/.yarn/install-state.gz
server/.pnp.*


# Client
client/node_modules
client/tsconfig.tsbuildinfo
client/.next

# Backoffice
Backoffice/
