@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  position: relative;
  @apply pb-14;
}

p,
span,
a,
input,
button,
div {
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto), sans-serif;
}

.thumbnail .keen-slider__slide {
  @apply border border-transparent cursor-pointer;
}
.thumbnail .keen-slider__slide.active {
  @apply border border-primary;
}

@media only screen and (max-width: theme('screens.sm')) {
  .container {
    @apply px-4;
  }
}

.attribute input[type='radio']:checked + label,
.attribute input[type='checkbox']:checked + label {
  @apply bg-primary text-white transition-all;
}

.table-cart .table-cart-head div {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  border-right: 0;
}

.table-cart .table-cart-head div:last-of-type {
  border-right: 1px solid #ddd;
}

.table-cart .table-cart-body .table-cart-body-col {
  border: 1px solid #ddd;
  @apply flex flex-col justify-center p-[20px] border-r-[0];
}

.table-cart .table-cart-body .table-cart-body-col:nth-of-type(-n + 6) {
  border-top: 0;
}

.table-cart .table-cart-body .table-cart-body-col:last-of-type {
  border-right: 1px solid #ddd;
}
